:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;

  #app {
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;

    h1 {
      font-size: 3.2em;
      line-height: 1.1;
    }

    a {
      font-weight: 500;
      color: #646cff;
      text-decoration: inherit;
    }

    a:hover {
      color: #535bf2;
    }

    img {
      max-width: 100%;
    }

    .menu{
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr 1fr;

      .card{
        img{
          width: 450px;
          height: 300px;
        }
      }
    }

  }
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
  .tab {
    padding: 1rem 2rem;

    &:hover {
      background-color: darkgray;
      transition: all 1s;
    }
  }
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
  li{
    span{
      margin-left: 0.5rem;
    }
  }
}

